/1eversie.py
/2026-01-21T15-25_export.csv
/2eversie_MAX12perKoers.py
/3eversie_betereverspreiding.py
/4eversie_ploegsamenstelling.py
/5etest.py
/met_tabel.py
/requirements.txt
/streamlit
/teams.py
/test.py
/venv
/werkend_app.py